extends layout

block content

    .container
        .jumbotron(style="text-align:center;") 
          h1 Night-Life Coordinator
          div
            p.lead Coordinate With Friends
            div
              a.btn.btn-primary.btn-lg(href='/auth/login') Sign In
              |   or  
              a.btn.btn-warning.btn-lg(href='/app') Search A City

        .col-sm-offset-4.col-sm-4
            .panel.panel-default
              .panel-body.sinter
                h3(style="text-align:center;")   Sign Up
                p
                a.btn.btn-default.btn-block(href='/auth/signup') Click to Register
    .footer
      .container
        