extends layout

block content

    .container
        .jumbotron
          h1 Night-Life Coordinator
          div
            p.lead See Whats Going On
            div
              a.btn.btn-primary.btn-lg(href='/auth/login') Sign In
              |   or  
              a.btn.btn-warning.btn-lg(href='/app') See Whats Happening
        .row
          .col-sm-4
            .panel.panel-default
              .panel-body
                h3 Reset Password 
                p
                a.btn.btn-default.btn-block(href='/login/forgot') Click to Reset
          .col-sm-offset-4.col-sm-4
            .panel.panel-default
              .panel-body.sinter
                h3   Sign Up
                p
                a.btn.btn-default.btn-block(href='/auth/signup') Click to Register
    .footer
      .container
        
        ul.links
          li
            a(href='/yelp') Home
          li
            a(href='/contact') Contact
        .clearfix